.slide_8 .cont{
	position: relative;
}
.slide_8 .cont .cont_btm{
	background-color: rgba(145, 196, 4, 0.6);
    /*height: 28rem;*/
    /*position: absolute;*/
    opacity: 0.8;
    /*top: 91%;*/
    padding:40px 30px 20px;
    margin-top:-20px;

}
.slide_8_text{
    padding-top: 19%;
	font-size: 14px;
    /*width: 80%;*/
    text-indent: 2em;
    margin: 0 30px;
    color:#000;
}
.slide_10 .cont{
    position: relative;
}
.slide_10 .cont .cont_btm{
    background-color: rgba(133, 133, 133, 1);
    /*height: 28rem;*/
    /*position: absolute;*/
    opacity: 0.8;
    /*top: 91%;*/
    display: table;

}
.slide_10_text{
    /*vertical-align:middle;*/
    /*display:table-cell;*/
    /*padding-top: 19%;*/
    font-size: 12px;
    /*width: 80%;*/
    text-indent: 2em;
    margin:30px 30px;
    color:#fff;
    /*padding:0 30px;*/
    line-height:1.5;
}
.slide_10 .logo{
    width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:10;
}
/*.slide_11 .cont_1{
    margin-top:-50px;
}*/
.slide_11_img1{
    margin:0 30px;
}
.slide_11_img1 img{
    width:100%;
}
.slide_11_text_{
    background:url("../images/slide_11_bac.png") no-repeat;
    background-size: 81.3% auto;
    background-position: 30px 40px;
    padding-bottom: 10px;
}
.slide_11_img2{
    margin:-20px 30px 0;
}
.slide_11_img1 img{
    width:100%;
}
.slide_11_img3{
    margin:10px 0;
}
/*slide12*/
.slide_12 .cont_1{
    margin-top:-60px;
}
.slide12_top_bac{
    background:url("../images/slide_12_img1.jpg") repeat-y;
    background-size:100% auto;
}
.slide12_top_bac_mask{
    background: rgba(86, 86, 86, 0.25);
}
.slide12_top_title1{
    padding-top:80px;
    text-align:center;
    margin:0 30px;
    font-size:20px;
    color:#fff;
    font-weight:bold;
}
.slide12_top_title2{
    margin:10px 30px 0;
    padding-bottom:10px;
    text-align:center;
    font-size: 14px;
    color:#fff;
}
.slide12_cont{
    /*padding:10px 0;*/
}
.slide_cont_text{
    text-indent:2em;
    font-size:12px;
    margin:0 30px;
}
.slide_12_img4{
    margin:10px 0;
}
.span_{
    color:#83a747;
    font-size:14px;
    font-weight:bold;
}
.slide_12_img5{
    /*margin-top:-12px;*/
    /*margin-bottom:30px;*/
}
/*slide13*/
.slide_13 .cont_1{
    margin-top:-60px;
    background:#feeed5;
    padding-top:70px;
}
body .margin_{
    margin:10px 0;
}
.slide_13_text{
    text-indent:2em;
    font-size: 12px;
    margin:0 30px;
    color:#000;
}
/*slide14*/
.slide_14 .cont_1{
    margin-top:5px;
    background:#1b1b16;
    padding-bottom:10px;
}
body .margin_top{
    margin-top:20px;
}
/*slide15*/
.slide_15 .cont_1{
    margin-top:-60px;
    background:#feeed5;
    padding-bottom: 10px;
}

.slide_15_img1{
    padding-top: 65px;
    margin-bottom:12px;
}
.slide15_text{
    margin:0 30px;
    font-size:12px;
    text-indent:2em;
}
/*slide6*/
.slide16_text{
    margin:0 30px;
    font-size:12px;
    text-indent:2em;
}
.slide_16_img4{
    margin-bottom:10px;
}

.slide_16 .cont_2{
    background:#feeed5;
}
.slide_16_img7{
    margin-bottom: 10px;
}
.slide_16_img8{
    margin-top:10px;
}
.slide_16 .cont_3{
    padding-top:25px;
}
/*slide17*/
.slide_17_img1, .slide_17_img3{
    width:90.625%;
    margin:0 30px;
}
body .margin_bottom{
    margin-bottom: 20px;
}
.slide_17_text{
    margin:0 30px;
    font-size:12px;
    text-indent:2em;
}
.slide_17_title{
    margin:0 30px;
    font-size:18px;
    line-height:3;
    font-weight:bold;
}
.slide_17 .cont_1{
    /*padding-bottom:10px;*/
    border-bottom:1px solid #929292;
}
.slide_17 .con_2{
    margin-bottom:10px;
}
.slide_17_text_dian{
    padding-left:10px;
    background:url('../images/dian_.jpg') no-repeat;
    background-position:5px center;
    margin:0 30px;
    font-size:12px;
}
.slide_17_bottom{
    margin:0 30px;
    padding-bottom:20px;
}
.slide_17_left{
    display:inline-block;
    width:60.5%;
    vertical-align: bottom;
}
.slide_17_img6{
    width:37%;
}
.slide_17_left .slide_17_title, .slide_17_left .slide_17_text{
    margin:0;
}
.slide_17_left .slide_17_title{
    line-height:1.5;
}
/*slide18*/
.slide_18 .cont_1{
    padding-top:10px;
}
.slide_18_img1{
    margin-bottom:10px;
}
.slide18_text{
    margin:0 30px;
    font-size:12px;
    text-indent:2em;
}
.slide18_title{
    margin:20px 30px;
    font-size:18px;
    font-weight:bold;
}
.slide18_text_bold{
    font-weight:bold;
    font-size:14px;
    margin-top:10px;
    margin-bottom:10px;
}
/*slide19*/
.slide_19 .cont_1{
    background:#3f797c;
}
.slide_title_big{
    margin:0 30px;
    font-size:18px;
    line-height:3;
    font-weight:bold;
}
.slide_19_img2{
    width:90.625%;
    margin-left:30px;
}
.slide_19_text{
    margin:0 30px;
    font-size:12px;
    text-indent:2em;
    color:#fff;
}
.slide_19_text_bold{
    font-weight:bold;
    color:#000;
    margin:0 30px 10px;
}
.slide_19 .cont_2 .slide_19_text{
    color:#000;
}
/*slide20*/
.slide_20 .cont_1{
    background:#675b65;
}
.slide_20 .cont_2{
    padding-top:20px;
    padding-bottom:10px;
}
.slide_20_img2{
    width: 90.625%;
    margin-left: 30px;
}
.slide_20_text{
    margin:0 30px;
    font-size:12px;
    text-indent:2em;
    color:#fff;
}
.slide_20_text_{
    font-weight:bold;
    font-size:14px;
}
.slide_20 .cont_2 .slide_20_text{
    color:#000;
}
body .margin_bottom_10{
    margin-bottom:10px;
}
body .margin_top_10{
    margin-top:10px;
}
/*slide21*/
.slide_21_img1, .slide_21_img10{
    width: 90.625%;
    margin-left: 30px;
}
.slide_21_img2{
    margin-top:-20px;
}
.slide21_text{
    margin: 0 30px;
    font-size: 12px;
    text-indent: 2em;
}
.slide_21 .cont_1{
    padding-bottom:20px;
}
/*logo动画*/
.top_1{
    position:relative;
}
.logo_{
    position:absolute;
    top:0;
    left:0;
    z-index:2;
}
.logo_1{
    width: 4.9%;
    margin-left: 1.798%;
    margin-top: 2.43%;
}
.logo_2{
    width: 9.312%;
    margin-left: 5.5%;
    margin-top: 7.089%;
}
.logo_3{
    width: 7.83%;
    margin-left: 14.497%;
    margin-top: 7.089%;
}
.logo_4{
    width: 5.079%;
    margin-left: 23.4%;
    margin-top: 3.28%;
}
.logo_5{
    width: 9.629%;
    margin-left: 28%;
    margin-top: 7.0899%;
}
.logo_6{
    width: 9.2063%;
    margin-left: 37.19%;
    margin-top: 2.222%;
}
.logo_7{
    width: 7.0899%;
    margin-left: 46.714%;
    margin-top: 4.1269%;
}
.slide_3_top{
    position: relative;
}
.slide_3 .logo img, .slide_8 .logo img{
    width:auto;
    float:right;
    margin-right:30px;
    height:36px;
}
.slide_3 .logo, .slide_8 .logo{
    width:100%;
    padding: 12px 0;
    position:absolute;
    top:0;
    right:0;
}
.slide_4 .cont1, .slide_8 .cont_1{
    position: absolute;
    left:0;
    top:0;
    z-index:-1;
}
.slide_4 .slide_4_title{
    width: 90.625%;
    margin: 20px 30px;
}
.slide_4_text{
    margin-bottom:0;
    margin-top:20px;
}
.slide_4_bot{
    width: 90.625%;
    margin: 0 30px;
    margin-top:-20px;
    margin-bottom:30px;
}
.blue{
    color:#1c6bac !important;
}
.green{
    color:#75a814 !important;
}
.red{
    color:#ff0808 !important;
}
.yellow{
    color:#cc891d !important;
}
.slide_6 .cont{
    position:relative;
    top:0px;
    left:0;
    z-index:-1;
    font-size:12px;
    line-height:1.8;
}
.slide_6 .logo{
    position:absolute;
    top:0;
    right:0;
    width:100%;
}
.slide_9 .logo{
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
    z-index:10;
}
.slide_8 .cont .cont_btm{
    color:#000;
    font-size:12px;
}
.orange{
    color:#fa9900 !important;
}
.green_{
    color:#18ffa1 !important;
}
.back_mask_top{
    background:rgba(70, 101, 41, 0.62);
}
.slide_14 .con_con1{
    position:relative;
}
.slide_14_littletitle{
    font-size:12px;
    color:#fff;
    font-weight:bold;
    position:absolute;
    bottom:0;
    padding:0 30px;
    text-align:center;
}
.slide_14_title{
    line-height:2;
    font-size:18px;
    font-weight:bold;
    margin:0 30px;
}
.slide_14_text{
    font-size:12px;
    margin:0 30px;
    color:#fff;
    text-indent:2em;
}
.cont_2 .slide_14_title{
    line-height:2;
    font-size:18px;
    font-weight:bold;
    margin:0 30px;
    color:#000;
}
.cont_2 .slide_14_text, .slide_14_text_1{
    font-size:12px;
    margin:0 30px;
    color:#000;
    text-indent:2em;
}
.slide_14_text_1{
    text-indent:0;
}
.slide_14_text_1_img{
    height:12px;
}
.slide_12_top{
    /*margin:0 30px;*/
    padding:15px 30px;
    background:rgba(70, 101, 41, 0.62);
    position:relative;
    /*margin-bottom:10px;*/
}
.slide_12_top_text{
    width:61.379%;
    line-height:1.8;
    color:#fff;
    margin:0;
    font-size:12px;
}
.slide12_top_img3_1{
    width:31.24%;
    position:absolute;
    top:15px;
    right:30px;
}
.slide12_top_img3_2{
    width:31.24%;
    position:absolute;
    bottom:15px;
    right:30px;
}
<<<<<<< HEAD
.page2_top{
    margin-top:60px;
}
.page2 .page2_text{
    text-indent:2em;
    font-size:12px;
    margin:20px 30px;
}

.slide_5 .cont_1{
  background:url("../images/slide5_bac.jpg") repeat-y;
  background-size:100% auto;
  padding-bottom:10px;
}
.slide_4 .cont1{
    position:static;
}

.slide_4 .cont_bot{
    position:absolute;
    left:0;
    bottom:20px;
    background:#fff;
}

.slide_5_bot_logo{
    position:absolute;
    width:34.3% ;
    right:30px;
    top:55px;
    animation:flash 1s infinite;
    -webkit-animation:flash 1s infinite;
}
.slide_7_bot_logo{
    position:absolute;
    width:26.8%;
    right:30px;
    top: 55px;
    animation:flash 1s infinite;
    -webkit-animation:flash 1s infinite;
}

.slide_21_color_zs{
    color:#a91e92 !important;
}

.slide_21_color_zs1{
    color:#a50e8a !important;
}
.slide_21_color_zs2{
    color:#ac18a7 !important;
}
.slide_21_color_hs{
    color:#c91515 !important;
}

.slide_21_color_ls{
    color:#19878b !important;
}
.slide_13_text_{
    text-indent: 2em;
    font-size: 12px;
    margin: 0 20px;
    color: #000;
    background:#fea291;
    padding:10px;
    color:#fff;
}
.yun1{
    position:absolute;
    right:-100px;
    top: 65%;
    width:30%;
    z-index:-1;
    animation:animate_1 7s infinite ;
}
.yun2{
    position:absolute;
    right:-50px;
    top: 120%;
    width:15%;
    z-index:-1;
    animation:animate_1 7s infinite .5s;
}
.yun3{
    position:absolute;
    right:-175px;
    top: 90%;
    width:25%;
    z-index:-1;
    animation:animate_1 7s infinite 2.5s;
}
@-webkit-keyframes animate_1{
    0% { 
        -webkit-transform:translateX(0);
        transform:translateX(0);
     }
    100% { 
        -webkit-transform:translateX(-600px);
        transform:translateX(-600px);
     }
}
@keyframes animate_1{
    0% { 
        -webkit-transform:translateX(0);
        transform:translateX(0);
     }
    100% { 
        -webkit-transform:translateX(-600px);
        transform:translateX(-600px);
     }
}

.sun{
    position:absolute;
    width:10%;
    top:200%;
    right:12%;
    z-index:10;
    animation:sun infinite 5s linear;
}
@-webkit-keyframes sun{
    0% { 
        -webkit-transform:rotate(0);
        transform:rotate(0);
     }
    100% { 
        
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg);
     }
}
@keyframes sun{
    0% { 
        -webkit-transform:rotate(0);
        transform:rotate(0);
     }
    100% { 
        
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg);
     }
}



.yun3, .yun4{
    position:absolute;
    z-index:-1;
}
body .slide_2 .yun3{
    top: 10%;
    left:100%;
    width:50%;
    animation:animate_1 5s infinite ease-out;
}
body .slide_2 .yun4{
    top: 30%;
    left:100%;
    width:30%;
    animation:animate_1 7s infinite ease-in 1.5s;
}
.slide_3_top .yinyan{
    width:24.06%;
    position:absolute;
    bottom:27%;
    left:38%;
}
.slide_2, .slide_0{
    overflow:hidden;
}
/*.slide14_over{
    overflow:hidden;
    margin:30px 30px;
}
.slide14_over_left, .slide14_over_right{
    overflow:hidden;
}
.slide14_over_left{
    float:left;
}
.slide14_over_right{
    float:right;
}
.slide14_over_title{
    font-size:14px;
    color:#fff;
    margin:0;
    font-weight:bold;
}
.slide14_over_text1{
    font-size:12px;
    color:#fff;
    margin:0;
    text-indent:2em;
    line-height:1.2;
}
.slide14_over_text2{
    font-size:12px;
    color:#fff;
    margin:0;
    text-indent:2em;
    line-height:1.2;
}
.wei_315{
    width:54.31%;
}
.wei_237{
    width:40.86%;
}
.wei_242{
    width:41.72%;
}*/

/*媒体查询*/
/* 兼容iphone4/4s */
/*@media only screen and (min-device-width: 320px){
    .slide14_over_text1{
        line-height:1;
    }
    .slide14_over_text2{
        line-height:1;
    }
}*/
/*针对iPhone 4, 5c,5s, 所有iPhone6的放大模式，个别iPhone6的标准模式*/
/*@media only screen and (min-device-width: 320px)and (-webkit-min-device-pixel-ratio: 2) {
    .slide14_over_text1{
        line-height:1;
        transform-origin:left top;
        -webkit-transform-origin:left top;
        -webkit-transform:scale(0.85, 0.85);
           -moz-transform:scale(0.85, 0.85);
            -ms-transform:scale(0.85, 0.85);
             -o-transform:scale(0.85, 0.85);
                transform:scale(0.85, 0.85);
    }
    .slide14_over_text2{
        line-height:1;
        transform-origin:left top;
        -webkit-transform-origin:left top;
        -webkit-transform:scale(0.85, 0.85);
           -moz-transform:scale(0.85, 0.85);
            -ms-transform:scale(0.85, 0.85);
             -o-transform:scale(0.85, 0.85);
                transform:scale(0.85, 0.85);
    }
    .slide14_over_text2_{
        -webkit-transform:translateY(-15px) scale(0.85, 0.85);
           -moz-transform:translateY(-15px) scale(0.85, 0.85);
            -ms-transform:translateY(-15px) scale(0.85, 0.85);
             -o-transform:translateY(-15px) scale(0.85, 0.85);
                transform:translateY(-15px) scale(0.85, 0.85);
    }
}
/*针对大多数iPhone6的标准模式*/
@media only screen and (min-device-width: 375px)and (-webkit-min-device-pixel-ratio: 2) {
    .slide14_over_text1{
        line-height:1.5;
        transform-origin:left top;
        -webkit-transform-origin:left top;
        -webkit-transform:scale(1, 1);
           -moz-transform:scale(1, 1);
            -ms-transform:scale(1, 1);
             -o-transform:scale(1, 1);
                transform:scale(1, 1);
    }
    .slide14_over_text2{
        line-height:1.5;
        transform-origin:left top;
        -webkit-transform-origin:left top;
        -webkit-transform:scale(1, 1);
           -moz-transform:scale(1, 1);
            -ms-transform:scale(1, 1);
             -o-transform:scale(1, 1);
                transform:scale(1, 1);
    }
}*/